.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0px 8px 0px 0px;
}

.box {
  flex-grow: 1;
  min-width: 60px;
  height: 105px;
  margin: 5px 5px 5px 5px;
}

.box2 {
  flex-grow: 1;
  min-width: 100px;
  height: 105px;
  margin: 5px 5px 5px 5px;
}

.custom {
  height: 100%;
  width: 100%;
  background-color: yellow;
  position: relative;
  z-index: -2;
}

.custom::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: green;
  position: absolute;
  transform: scale(0);
  z-index: -1;
}

.real:checked + .custom::before {
  transform: scale(1);
}

.real {
  height: inherit;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 0;
}
